pandas==2.3.1 # Data manipulation
numpy==2.3.2 # Numerical computations
matplotlib==3.10.5 # Data visualization
seaborn==0.13.2 
scikit-learn==1.7.1 # Machine learning
jupyter 
plotly>=6.2.0
scipy >=1.16.1
